.vscode/**
.vscode-test/**
.gitignore
.husky/
vsc-extension-quickstart.md
src/**
test/**
coverage/**
out/**/*.map
out/**/*.d.ts
**/tsconfig.json
**/jest.config.js
**/eslint.config.js
**/.prettierrc
**/.prettierignore
*.md
*.vsix
node_modules/**
