.vscode/**
.vscode-test/**
.gitignore
.husky/
vsc-extension-quickstart.md
src/**
test/**
coverage/**
out/**
dist/**/*.map
node_modules/**
**/tsconfig.json
**/jest.config.js
**/eslint.config.js
**/esbuild.js
**/.prettierrc
**/.prettierignore
*.vsix
*.md
!README.md
!CHANGELOG.md
